@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f5f9;
}
::-webkit-scrollbar-thumb {
  background: #93c5fd;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3b82f6;
}
